@page
@model NBADATA.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Registro";
}
<h1>Crear cuenta</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Registrarme</button>
</form>

<partial name="_ValidationScriptsPartial" />
